{% from 'form_helper.html' import displayField %}

{% extends 'base.html' %}


{% block title %}
 Login
{% endblock %}


{% block content_title %}
 Login now!
{% endblock %}


{% block content %}
 <h1>Enter your username/password</h1>
 <form action="/login" method="POST">
    {{ form.csrf_token }}

    {{ displayField( form.username, 'Username', autocomplite='off', autofocus=true ) }}
    {{ displayField( form.password, 'Password' ) }}

    <div>
        {{ form.submit_button }}
    </div> 
 </form>
{% endblock %}