{% from 'form_helper.html' import displayField %}


{% extends 'base.html' %}


{% block title %}
 Registration
{% endblock %}


{% block content_title %}
 Registration
{% endblock %}


{% block content %}
 <form action="/registration" method="POST">
    {{ form.csrf_token }}

    {{ displayField( form.username, 'Username', autocomplite='off', autofocus=true ) }}
    {{ displayField( form.password, 'Password' ) }}
    {{ displayField( form.confirm, 'Confirm Password' ) }}

    <div>
        {{ form.submit_button }}
    </div>
</form>
{% endblock %}