{% extends 'base.html' %}


{% block title %}
 Registration
{% endblock %}


{% block content_title %}
 Registration
{% endblock %}


{% block content %}
 <form action="/registration" method="POST">
    {{ form.csrf_token }}
     <div>
         {{ form.username( placeholder='Username', autocomplite='off', autofocus=true) }}
         <ul>
             {% for error in form.username.errors %}
             <li>{{ error }}</li>
             {% endfor %}
         </ul>
     </div>
     <div>
         {{ form.password( placeholder ='Password', autofocus=false) }}
         <ul>
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
         </ul>
     </div>
    <div>
        {{ form.confirm( placeholder ='Confirm Password', autofocus=false) }}
        <ul>
            {% for error in form.confirm.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        {{ form.submit_button }}
    </div>
</form>
{% endblock %}